@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Travis Holt</h1>
    <p>Learn about <a href="httpsH://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
